:root {
    /* Corresponds to atom light theme */
    --codebackground: #fafafa;
}

@media (prefers-color-scheme: dark) {
    :root {
    /* Corresponds to atom light dark */
        --codebackground: #282828;
    }
}

blockquote {
    font-style: italic;
    /* color: var(--lessdark); */
}

pre {
    background-color: var(--codebackground) !important;
    font-size: 90%;
    line-height: 1.4em;
    border-radius: 5px;
}

code {
    color: #c7254e;
    background-color: var(--codebackground);
    border-radius: 4px;
}

pre code {
    color: inherit;

    /* Fixes iOS font sizing anomaly */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

sup {
    vertical-align: super;
    line-height: 0;
}

sup a {
    font-weight: normal;
}

a {
    font-weight: normal;
}

.navbar {
    margin-top: 20px;
    margin-bottom:30px;
}

.navbar-brand {
    font-size: 1.3em;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: var(--dark);
    font-weight: normal;
    padding-right: 10px;
}

@media (min-width: 600px) {
    .navbar-links{
        text-align: right;
    }
}

/* This list contains links that have default decoration disabled */
.blog-title a:hover,
.archive-header a:hover,
.navbar a:hover,
#TableOfContents a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link);
    text-decoration-thickness: 2px;
}

.blog-title a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.blog-title {
    margin-bottom: 0.5rem;
}

.blog-title-metadata {
    color: var(--lessdark);
    font-size: 0.9em;
    margin-top: 0px;
    /* margin-bottom: 1rem; */
}

.blog-preview-img {
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: none;
}

.captioned-img {
    display: block;
}

.caption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;;
    font-size: 0.9em;
    color: var(--lessdark);
}

.img-content {
    max-height: 350px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.img-content-header {
    max-height: none;
}

.readmore-btn {
    text-align: right;
}

/* .nav-btn a { */
    /* color: var(--lessdark); */
    /* font-weight: bold; */
    /* background-image: var(--onhover); */
    /* text-decoration: none; */
/* } */

.footer-container {
    text-align: center;
    color: var(--lessdark);
}

.footer-container a {
    font-weight: normal;
}

.footnotes {
    font-size: 0.9em;
    font-style: italic;
    color: var(--lessdark);
}

.about-header {
    text-align: center;
}

#img-headshot {
	border-radius: 50%;
	width: 300px;
	box-shadow: 0 4px 10px #333;
}

.archive-header {
    color: var(--dark);
    text-decoration: none;
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 3px;
    font-weight: normal;
}

.archive-date {
    width: 120px;
    padding-right: 15px;
}

.archive-date h2 {
    font-size: 0.95em;
    margin-top: 5px;
    font-weight: normal;
}

.archive-post .blog-title-metadata {
    margin-bottom: 0;
}

.archive-blog-tagline {
    font-style: oblique;
	margin-top: 5px;
}

.contact-icon {
    padding-right: 10px;
}

.contact-links {
    text-align: center;
}

.contact-links i {
    color: var(--dark);
    font-size: 1.5em;
    margin: 10px;
}

.toc {
    color: var(--lessdark)
}

#TableOfContents a {
    font-weight: normal;
    text-decoration: none;
}

#TableOfContents ul {
    padding-inline-start: 30px;
}

/* Fix disqus iframe not rendering dark mode properly */
iframe[src*="https://disqus.com"] {
  color-scheme: light;
}

.chroma .hl {
    background-color: #fff59042;
}
