<!-- This renders markdown image notation into pics or vids with captions -->
{{ $dest := .Destination | safeURL }}
<!-- /static/ prefix is used in markdown docs so images preview correctly, but we don't want them in the rendered/deployed url -->
{{ $cleanDest := replace $dest "/static/" "/" }}

<div class="row img-captioned">
    <!-- Video -->
    {{ if or (hasSuffix $cleanDest ".mp4") (hasSuffix $cleanDest ".webm") }}
    <video class="img-responsive img-span-row img-content" autoplay loop muted controls>
        <source src="{{ $cleanDest }}" type="video/mp4" />
    </video>
    {{ else }}
    <!-- Image -->
        {{ $image := .PageInner.Resources.Get $dest }}
        {{ if $image }}
            {{ $image = partial "resize-image.html" (dict "image" $image) }}
            {{ if not $image }}
                {{ warnf "Image not rendered %s: %s" .PageInner.RelPermalink $dest }}
            {{ end }}
    <a href={{ $image.RelPermalink }}><img loading="lazy" class="img-responsive img-content" src={{ $image.RelPermalink }}></a>
        {{ else }}
            {{ warnf "Image not found on %s: %s" .PageInner.RelPermalink $dest }}
        {{ end }}
    {{ end }}
    <!-- Parse 'name|url' from title component -->
    {{ $source := "" }}
    {{ with .Title }}
        {{ $sourceParts := split . "|" }}
        {{ $source = (printf " (Source: <a href=%s>%s</a>)" (index $sourceParts 1) (index $sourceParts 0)) | safeHTML }}
    {{ end }}
    <p class="caption">{{ .Text | safeHTML }}{{ $source }}</p>
</div>
