<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

	<br><br>
	<div class="about-header">
		<img id="img-headshot" src={{ .Params.headshot }}>
		<br><br>
	</div>

    <!-- Page Content -->
    <div class="about-container">
        <div class="about-content">
            <h1 class="page-header">{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
    <!-- /.about-container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
