<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div>

		<h1>{{ .Title }}</h1>
		{{ .Content }}

		<div class="contact-links">
			<a href=mailto:{{ .Site.Params.email }} ><i class="fa fa-envelope"></i></a>

			<a href="http://{{ .Site.Params.linkedin }}" ><i class="fa fa-linkedin"></i></a>

			<a href="http://{{ .Site.Params.github }}" ><i class="fa fa-github"></i></a>
		</div>
		<br>

    </div>
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
