<!-- Default to non-page bundle image -->
{{ $imageUrl := .Params.image }}
{{ if $imageUrl }}
    {{ $image := .Resources.GetMatch .Params.image }}
    {{ if $image }}
        {{ $image = partial "resize-image.html" (dict "image" $image) }}
        {{ $imageUrl = $image.RelPermalink }}
    {{ end }}
{{ end }}
{{ $imageSourceUrl := .Params.image_source }}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "header.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <!-- Open Graph / Facebook -->
    {{ if $imageUrl }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ $imageUrl }}">
    {{ end }}

    <!-- Twitter -->
    {{ if $imageUrl }}
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ $imageUrl }}">
    {{ end }}
</head>

<body>
    {{ partial "navbar.html" . }}

    <!-- Page Container -->
    <div>
        <!--Page content-->
        <div class="single-content">
            <h2 data-toc-skip class="blog-title">{{ .Title }}</h2>
            <!--Timestamp-->
            <p class="blog-title-metadata">{{ partial "blog-metadata.html" (dict "context" . "showComments" true) }}</p>
            <!--Image if available-->
            {{ if $imageUrl }}
            <a href={{ $imageUrl }}>
                <img class="img-content img-content-header" src="{{ $imageUrl }}">
            </a>
            {{ if $imageSourceUrl }}
            <p class="blog-banner-source">
                Image Source: <a href="{{ $imageSourceUrl }}">{{ .Params.image_source_text }}</a>
                {{ end }}
            </p>
            {{ end }}
            {{ if in .TableOfContents "li"}}
            <details class="toc">
                <summary>&nbsp;Table of Contents</summary>
                    {{ .TableOfContents}}
                </summary>
            </details>
            {{ end }}
            <div class="blog-content page-content">
                {{ .Content }}
            </div>

            {{ partial "support.html" . }}
            {{ partial "related.html" . }}

            <div class="nav-btn">
                <a href="/">< Recent Posts</a>
            </div>
            <hr>
            {{ partial "giscus.html" . }}
        </div>
    </div>
    <!-- /.single-container -->
    {{ partial "footer-js.html" . }}
</body>

{{ partial "footer.html" . }}

</html>
