<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}"/>
    <meta property="og:type" content="blog"/>
    {{ partial "header.html" . }}

</head>

<body>
    {{ partial "navbar.html" . }}

    <!-- Page Container -->
    <div>
        <!--Page content-->
        <div class="single-content">
            <h2 data-toc-skip class="blog-title">{{ .Title }}</h2>
            <!--Timestamp-->
            <p class="blog-title-metadata">{{ partial "blog-metadata.html" . }}</p>
            <!--Image if available-->
            {{ if not (eq .Params.image "") }}
            <a href={{.Params.image}}>
                <img class="img-content img-content-header" src="{{ .Params.image }}">
            </a>
            {{ end }}
            {{ if in .TableOfContents "li"}}
            <br>
            <details class="toc">
                <summary>&nbsp;Table of Contents</summary>
                    {{ .TableOfContents}}
                </summary>
            </details>
            {{ end }}
            <div class="blog-content page-content">
                {{ .Content }}
            </div>

            <div class="nav-btn">
                <a href="/">< Recent Posts</a>
            </div>
            <hr>
            {{ partial "disqus.html" . }}
        </div>
    </div>
    <!-- /.single-container -->
    {{ partial "footer-js.html" . }}
</body>

{{ partial "footer.html" . }}

</html>
