<!-- Default to non-page bundle image -->
{{ $imageUrl := .Params.image }}
{{ if $imageUrl }}
    {{ $image := .Resources.GetMatch .Params.image }}
    {{ if $image }}
        {{ $image = partial "resize-image.html" (dict "image" $image) }}
        {{ $imageUrl = $image.RelPermalink }}
    {{ end }}
{{ end }}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ if $imageUrl }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ $imageUrl }}"/>
    {{ end }}
    <meta property="og:type" content="blog"/>
    {{ partial "header.html" . }}

</head>

<body>
    {{ partial "navbar.html" . }}

    <!-- Page Container -->
    <div>
        <!--Page content-->
        <div class="single-content">
            <h2 data-toc-skip class="blog-title">{{ .Title }}</h2>
            <!--Timestamp-->
            <p class="blog-title-metadata">{{ partial "blog-metadata.html" . }}</p>
            <!--Image if available-->
            {{ if $imageUrl }}
            <a href={{ $imageUrl }}>
                <img class="img-content img-content-header" src="{{ $imageUrl }}">
            </a>
            {{ end }}
            <div class="blog-content page-content">
                {{ .Content }}
            </div>

            <div class="nav-btn">
                <a href="/">< Recent Posts</a>
            </div>
            <hr>
            {{ partial "disqus.html" . }}
        </div>
    </div>
    <!-- /.single-container -->
    {{ partial "footer-js.html" . }}
</body>

{{ partial "footer.html" . }}

</html>
