:root {
  /* Corresponds to atom light theme */
  --codebackground: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Corresponds to atom light dark */
    --codebackground: #282828;
  }
}

@mixin link-redecorate {
  text-decoration: underline;
  text-decoration-color: var(--link);
  text-decoration-thickness: 2px;
}

@mixin link-undecorate {
  text-decoration: none;
}

a {
  font-weight: normal;
}

blockquote {
  font-style: italic;
}

pre {
  background-color: var(--codebackground) !important;
  font-size: 90%;
  line-height: 1.4em;
  border-radius: 5px;

  code {
    color: inherit;

    /* Fixes iOS font sizing anomaly */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
}

code {
  color: #c7254e;
  background-color: var(--codebackground);
  border-radius: 4px;
}

sup {
  vertical-align: super;
  line-height: 0;

  a {
    font-weight: normal;
  }
}

.navbar {
  margin-top: 20px;
  margin-bottom: 30px;

  &-brand {
    font-size: 1.3em;
    font-weight: bold;
  }

  a {
    @include link-undecorate;
    color: var(--dark);
    font-weight: normal;
    padding-right: 10px;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--link);
      text-decoration-thickness: 2px;
    }
  }

  @media (min-width: 600px) {
    &-links {
      text-align: right;
    }
  }
}

.blog-title {
  margin-bottom: 0.5rem;

  a {
    @include link-undecorate;
    color: inherit;
    font-weight: bold;

    &:hover {
      @include link-redecorate;
    }
  }

  &-metadata {
    color: var(--lessdark);
    font-size: 0.9em;
    margin-top: 0px;
  }
}

.img {
  &-content {
    max-height: 350px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &-header {
      max-height: none;
      margin-bottom: 15px;
    }
  }

  &-blog-preview {
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: none;
  }

  &-captioned {
    display: block;
  }

  &-headshot {
    border-radius: 50%;
    width: 300px;
    box-shadow: 0 4px 10px #333;
  }
}

.caption {
  margin-top: 8px;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: var(--lessdark);
}

.readmore-btn {
  text-align: right;
}

.footer-container {
  text-align: center;
  color: var(--lessdark);

  a {
    font-weight: normal;
  }
}

.footnotes {
  font-size: 0.9em;
  font-style: italic;
  color: var(--lessdark);
}

.archive {
  &-header {
    @include link-undecorate;
    color: var(--dark);
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: normal;

    a:hover {
      @include link-redecorate;
    }
  }

  &-date {
    width: 120px;
    padding-right: 15px;

    h2 {
      font-size: 0.95em;
      margin-top: 5px;
      font-weight: normal;
    }
  }

  &-post .blog-title-metadata {
    margin-bottom: 0;
  }

  &-blog-tagline {
    font-style: oblique;
    margin-top: 5px;
  }
}

.contact {
  &-icon {
    padding-right: 10px;
  }

  &-links {
    text-align: center;

    i {
      color: var(--dark);
      font-size: 1.5em;
      margin: 10px;
    }
  }
}

.anchor {
  a {
    font-weight: inherit;
    @include link-undecorate;
  }

  a:hover {
    @include link-redecorate;
  }
}

.toc {
  color: var(--lessdark);
  background-color: var(--codebackground);
  padding: 10px;
  border-radius: 5px;
}

#TableOfContents {
  a {
    font-weight: normal;
    @include link-undecorate;

    &:hover {
      @include link-redecorate;
    }
  }

  ul {
    padding-inline-start: 30px;
  }
}

/* Fix disqus iframe not rendering dark mode properly */
iframe[src*="https://disqus.com"] {
  color-scheme: light;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  max-height: 500px; /* Set your desired max height */
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px; /* Match the container's max height */
  }
}

.chroma .hl {
  background-color: #fff59042;
}
