{{ $bloglink := .Permalink }}
<!-- Blog heading -->
<h2 class="blog-title">
    <a href="{{ $bloglink }}">{{ .Title }}</a>
</h2>
<!--Timestamp-->
<p class="blog-title-metadata">{{ partial "blog-metadata.html" . }}</p>

<!-- Image -->
{{ $image := .Resources.GetMatch .Params.image }}
{{ if $image }}
    {{ $maxSizePx := .Site.Params.images.maxSizePx }}
    {{ $imageType := .Site.Params.images.filetype }}
    {{ if gt $image.Width $maxSizePx }}
    {{ $resizeStr := printf "%dx" $maxSizePx }}
    {{ $image = $image.Resize $resizeStr }}
    {{ end }}
    {{ $image = $image.Process $imageType }}
<div class="blog-preview-img">
    <a href="{{ $bloglink }}">
        <img src="{{ $image.RelPermalink }}" class="preview-img" alt="{{ .Title }}">
    </a>
</div>
{{ end }}

<!--First 70 words of post-->
<p>{{ .Summary }}</p>

<!--Read more button-->
<div class="nav-btn readmore-btn">
    <a href="{{ $bloglink }}">Read More ></a>
</div>

<hr>
