<!-- Blog heading -->
<h2 class="blog-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
</h2>
<!--Timestamp-->
<p class="blog-title-metadata">{{ partial "blog-metadata.html" . }}</p>

<!-- Image -->
{{ if not (eq .Params.image "") }}
<div class="blog-preview-img">
    <a href="{{ .Permalink }}">
        <img src="{{ .Params.image }}" class="preview-img" alt="{{ .Title }}">
    </a>
</div>
{{ end }}

<!--First 70 words of post-->
<p>{{ .Summary }}</p>

<!--Read more button-->
<div class="nav-btn readmore-btn">
    <a href="{{ .Permalink }}">Read More ></a>
</div>

<hr>
