{{ $bloglink := .Permalink }}
<!-- Blog heading -->
<h2 class="blog-title">
    <a href="{{ $bloglink }}">{{ .Title }}</a>
</h2>
<!--Timestamp-->
<p class="blog-title-metadata">{{ partial "blog-metadata.html" . }}</p>

<!-- Image -->
{{ $image := .Resources.GetMatch .Params.image }}
{{ if $image }}
    {{ $image = partial "resize-image.html" (dict "image" $image) }}
<div class="img-blog-preview">
    <a href="{{ $bloglink }}">
        <img src="{{ $image.RelPermalink }}" class="img-preview" alt="{{ .Title }}">
    </a>
</div>
{{ end }}

<!--First 70 words of post-->
<p>{{ .Summary }}</p>

<!--Read more button-->
<div class="nav-btn readmore-btn">
    <a href="{{ $bloglink }}">Read More ></a>
</div>

<hr>
