<!--Syntax highlighting with Highlight.js-->
<!-- <script defer src="/js/highlight.pack.js"></script> -->
<!-- <script>hljs.initHighlightingOnLoad();</script> -->

<!--Mathjax support-->
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Disqus comment counter -->
<script defer id="dsq-count-scr" src="//justinmklam.disqus.com/count.js" async></script>

<!--Hamburger menu animation on click-->
<!--
<script defer>
  document.addEventListener('DOMContentLoaded', function() {
    var menu = document.getElementById('hamburger-menu');
    if (menu) {
      menu.addEventListener('click', function() {
        menu.classList.toggle('open');
      });
    }
  });
</script>
-->
