<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div>

		<!--Blog post summaries-->
        <div>

            {{ range first ( .Site.Params.pagerSize ) (where .Site.Pages "Type" "blog") }}

            {{ partial "blog-snippets.html" . }}

            {{ end }}

            <!-- Show all tags and counts -->
            <p>
                Tags:
                <span class="blog-title-metadata">
                    {{ range .Site.Taxonomies.tags.ByCount }}
                        <a class="blog-tag" href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}">#{{ .Name }} <span>({{ .Count }})</span></a>&nbsp;
                    {{ end }}
                </span>
            </p>

            <!--Archives button-->
            <div class="nav-btn">
                <a href="/archives">< All Posts</a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
