<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="page-container">

        <br>

		<!--Blog post summaries-->
        <div class="blog-list">

            {{ range first 5 (where .Site.Pages "Type" "blog") }}

            {{ partial "blog-snippets.html" . }}

            {{ end }}

            <!--Archives button-->
            <div class="nav-btn">
                <a href="/archives">< All Posts</a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
