<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div>

		<!--Blog post summaries-->
        <div>
            <h1>Tag: <code>#{{ lower .Title }}</code></h1>

            {{ range .Data.Pages }}

            {{ partial "blog-snippets.html" . }}

            {{ end }}

            <!--Archives button-->
            <div class="nav-btn">
                <a href="/">
                    < Recent Posts
                </a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
