<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div>

		<!--Blog post summaries-->
        <div>
            {{ $count := len .Data.Pages }}
            <h3>Tag: <code>#{{ lower .Title }}</code> <span style="font-weight: normal; padding-left: 3px; font-size: smaller">({{ $count }} post{{ if gt $count 1 }}s{{ end }}) </span></h3>
            <hr>

            {{ range .Data.Pages }}

            {{ partial "blog-snippets.html" . }}

            {{ end }}

            <!--Archives button-->
            <div class="nav-btn">
                <a href="/">
                    < Recent Posts
                </a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
